```scss
.mobile-menu {
  &-container {
    @apply bg-black w-56 absolute top-8 left-0 py-5 flex-col border-2 border-gray-800 flex rounded-lg shadow-lg;
  }

  &-item {
    @apply px-3 text-center text-white rounded-md p-2 transition-all duration-300;

    &:hover {
      @apply transform scale-105;
    }
  }

  &-randomizer {
    @apply px-3 text-center text-pink-400 hover:bg-violet-600 hover:text-white rounded-md p-2 font-toejam relative;
  }

  &-sandia {
    @apply absolute;
    top: 360px;
    left: 170px;
    height: 42px;
    width: 60px;
    z-index: 200;

    @screen lg {
      top: 54px;
      left: 57px;
      height: 35px;
      width: 45px;
    }
  }
}