.video-grid {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 10% 35% 10% 35% 10%;
  gap: 0px;
  height: 85vh;
  width: 90%;
  margin: auto;
  background: radial-gradient(ellipse at top, #111333, transparent);
}

.video-player {
  grid-column: 2 / 3;
  grid-row: 1 / 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .video-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    gap: 10px;
  }

  .video-player {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .sidebar-item {
    grid-column: 1 / 2;
  }
}